$base-blue: #0257fd;
$background-grey: #f8f9f9;

$hover-bg-darken: 8%;
$hover-bg-active: 16%;

* {
     box-sizing: border-box;
}

body {
     margin: 0;
     font-family: "Poppins", sans-serif;
}

.container {
     margin: auto;
     padding: 10px;
     height: 100%;
}
