$base-blue: #0257fd;
$background-grey: #f8f9f9;

$hover-bg-darken: 8%;
$hover-bg-active: 16%;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  // width: 80%;
  margin: auto;
  padding: 10px;
}

// UI
button {
  background-color: $base-blue;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  height: 36px;
  cursor: pointer;

  &:hover {
    background-color: darken($base-blue, $hover-bg-darken);
  }

  &:active {
    background-color: darken($base-blue, $hover-bg-active);
  }
}

input {
  height: 36px;
  border-radius: 5px;
  border: none;
  background-color: $background-grey;
  padding: 10px 10px;
  font-size: 12px;

  &:focus {
    outline: 0.5px solid $base-blue;
  }
}

select {
  -webkit-appearance: none;

  height: 36px;
  border-radius: 5px;
  border: none;
  background-color: $background-grey;
  padding: 10px 10px;
  font-size: 12px;

  &:focus {
    outline: 0.5px solid $base-blue;
  }

  &:-ms-expand {
    display: none;
  }
}

table {
  background-color: $background-grey;
  width: 100%;
  text-align: center;
  font-size: 12px;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: auto;

  thead {
    background-color: darken($background-grey, $hover-bg-darken);

    tr {
      display: flex;
      justify-content: center;
      th {
        flex: 1;
        padding: 7px 0px;
      }
    }
  }

  tbody {

    tr {
      display: flex;
      justify-content: center;
      td {
        flex: 1;
        padding: 6px 0px;
        border-bottom: 0.5px solid darken($background-grey, $hover-bg-darken);

      }
    }
    tr:hover {
      // background-color: darken($background-grey, $hover-bg-darken);
      background-color: $base-blue;
      color: #fff;

      cursor: pointer;
    }
  }

  tfoot {
    background-color: darken($background-grey, $hover-bg-darken);

    tr {
      th {
        padding: 7px 7px;

        .pagination {
          display: flex;
          align-items: center;
          justify-content: space-between;

          input {
            margin: 0px 10px;
            width: 50px;
            text-align: center;
          }

          button {
            width: 25px;
            height: 25px;
            padding: 0px;
          }
        }

        .items-per-page {
          label {
            padding: 0px 10px;
          }
        }
      }
    }
  }
}

.hyperlink {
  color: $base-blue;
  font-size: 12px;

  &:hover {
    cursor: pointer;
    color: darken($base-blue, $hover-bg-darken);
    text-decoration: underline;
  }

  &:active {
    color: darken($base-blue, $hover-bg-active);
  }
}
