.column-container {
     height: 100%;
     flex-grow: 1;
     width: 100% !important;
     display: flex;
     flex-flow: column;

     .title {
          height: 50px;
          display: flex;
          align-items: center;
          padding: 10px;
          justify-content: space-between;

          h3 {
               margin: 0;
               padding: 0;
          }

          .btns {
               display: flex;
               gap: 8px;
          }
     }

     .divider {
          padding: 0;
          margin: 0;
          display: block;
     }

     .list {
          overflow-y: auto;
          height: 673px;

          .list-item {
               border-radius: 10px;
               margin: 5px;
               box-shadow: none;
               border: 0;
          }

          .list-item:hover {
               background-color: #f5f5f5 !important;
          }

          .ant-list-item:hover {
               background-color: #1677ff;
               cursor: pointer;
          }
     }

     .footer {
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;

          .search {
               margin: 0px 20px;
          }
     }
}
