.filters {
     margin: 0px 0px;
     .sku {
          margin-bottom: 30px;

          .title {
               color: #7d7d7d;
          }

          .form {
               display: flex;
               justify-content: center;
          }
     }
}
